@media screen and (max-width: 767px) {
    .hero {
        padding-top: 118px;
        padding-bottom: 198px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../imeges/overlay/hero480img@1x.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .main-title {
        @include font($fs: 26px, $fw: 900, $lh: 42px);
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #FFFFFF;
        width: 360px;
        margin: 0 auto;
        display: block;
}

    .modal-btn {
        display: block;

        font-family: 'Roboto', sans-serif;
        @include font($fs: 16px, $fw: 700, $lh: 30px);
        
        letter-spacing: 0.06em;

        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 32px;
        padding-right: 32px;
        background-color: var(--blue-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        color: #FFFFFF;
        border: 0 solid;
        margin: 0 auto;

        margin-top: 30px;
}
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
    screen and (min-resolution: 192dpi) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (max-width: 767px) {
       .hero {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../imeges/overlay/hero480img@2x.jpg");
        }
    }

/*=====   від 768  =====*/



@media screen and (min-width: 768px) {
    .hero {
        padding-top: 118px;
        padding-bottom: 198px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../imeges/overlay/hero768@1x.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .main-title {
        @include font($fs: 26px, $fw: 900, $lh: 42px);
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #FFFFFF;
        width: 100%;
        margin: 0 auto;
        display: block;
    }

    .modal-btn {
        display: block;
    
        font-family: 'Roboto', sans-serif;
        @include font($fs: 16px, $fw: 700, $lh: 30px);
    
        letter-spacing: 0.06em;
    
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 32px;
        padding-right: 32px;
        background-color: var(--blue-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        color: #FFFFFF;
        border: 0 solid;
        margin: 0 auto;
    
        margin-top: 30px;
        }

}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
        .hero {
         background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../imeges/overlay/hero768@2x.jpg");
        }
    }

/*==============  від 1200   ===========*/

@media screen and (min-width: 1200px) {
    .hero {
        padding-top: 200px;
        padding-bottom: 200px;
        background-color: #C4C4C4;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../imeges/overlay/hero1200@1x.jpg");
    }

    .main-title {
        @include font($fs: 44px, $fw: 900, $lh: 60px);
        width: 696px;
        }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
screen and (min-resolution: 192dpi) and (min-width: 1200px),
screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../imeges/overlay/hero1200@2x.jpg");
    }
}


/*.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #C4C4C4;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../imeges/overlay/people.jpg");

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}   

.main-title {
    @include font($fs: 44px, $fw: 900, $lh: 60px);

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 696px;
    margin: 0 auto;
    display: block;

}   

.modal-btn {
    display: block;

    font-family: 'Roboto', sans-serif;
    @include font($fs: 16px, $fw: 700, $lh: 30px);
 
    letter-spacing: 0.06em;

    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 30px;
    padding-right: 30px;

    background-color: var(--blue-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    color: #FFFFFF;
    border: 0 solid;
    margin: 0 auto;

    margin-top: 30px;
}       
*/