    .mobile-menu {
        position: fixed;
        width: 100vw;
        height: 100%;
        //z-index: 1000;
        top: 0px;
        left: 0px;
        right: 0px;

        opacity: 0;
        visibility: hidden;
        pointer-events: none;

        padding-left: 40px;
        padding-top: 48px;
        padding-bottom: 48px;

        background-color: #FFFFFF;

        .container {
            display: block;
            height: 100%;
        }
       
    }

    .mobile-menu.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transition: opacity 500ms linear, visibility 500ms linear;
    }

    .mobile-menu-open {
        margin-left: auto;
        transition: fill var(--transition-dur-and-fund);
            
        &:hover,
        &:focus {
        fill: var(--blue-color);        
        }
    }

   //@media screen and (min-width: 768px) {}

   // .mobile-menu__container {
 //       position: relative;     
    //}

    .mobile-menu__close-btn {
        display: block;
        margin-top: 10px;
        margin-left: auto;
        margin-right: 0;
        position: absolute;
        top: 10px;
        right: 15px;

        background-color: transparent;
        border: none;
        padding: 0;
        line-height: 0;
        transition: fill var(--transition-dur-and-fund);
                
        &:hover,
        &:focus {
            fill: var(--blue-color);  
        }

    }
    .menu-content {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        margin-bottom: auto;
    }

    .mobail-menu__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 32px;
        //margin-bottom: 302px;
    }

    .mobail-menu__list-link {
        color: var(--accent-color-header);
    }

    .mobail-menu__link-activ {
        color: var(--blue-color);
    }

    .mobail-menu__nav-link {
        font-family: 'Roboto';
        @include font($fs: 40px, $fw: 500, $lh: 47px);
        letter-spacing: 0.02em;

        color: var(--accent-color-header);
        transition: color var(--transition-dur-and-fund);

        &:hover,
        &:focus {
            color: var(--blue-color);
        }    
    }

    .mobail-menu__contact {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 32px;
        margin-bottom: 64px;
    }

    .mobail-menu__contact-phone {
        font-family: 'Roboto';
        @include font($fs: 29px, $fw: 500, $lh: 40px);   
        letter-spacing: 0.02em;
        
        color: var(--blue-color);
    }

    .mobail-menu__contact-email {
        font-family: 'Roboto';
        @include font($fs: 24px, $fw: 500, $lh: 28px);

        letter-spacing: 0.02em;
                
        color: var(--accent-color-text);
    }

    .mobail-menu__social {
        list-style: none;
        display: flex;
        gap: 16px;
        
    }

    .mobail-menu__social-link {
        font-family: 'Roboto';
        @include font($fs: 14px, $fw: 500, $lh: 20px);
        letter-spacing: 0.02em;
        
        color: var(--blue-color);
       
    }

    .mobail-menu__social-list {
        position: relative;
    }
 
    .mobail-menu__social-sign:not(:last-child)::after {
       
        content: "";
        position: absolute;

        top: 0;
        right: -8px;
        width: 1px;
        height: 100%;
        background-color: rgba(33, 33, 33, 0.2);     
    }

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

